<!DOCTYPE html>
<html>
<head>
    <title>Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Reviews</h1>

{% for r in reviews %}
<div class="review-box">
    <p>Course ID: {{ r[2] }}</p>
    <p>Rating: {{ r[3] }}</p>
    <p>{{ r[4] }}</p>
</div>
{% endfor %}

<h3>Add Review</h3>
<form action="/add_review" method="POST">
    Course ID: <input name="course_id"><br>
    Rating: <input name="rating"><br>
    Comment: <input name="comment"><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>